@font-face {
    font-family: 'IBM Plex';
    src: url('/assets/fonts/IBMPlexSansArabic-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'IBM Plex';
    src: url('/assets/fonts/IBMPlexSansArabic-Medium.woff2') format('woff2');
    font-weight:500;
}
@font-face {
    font-family: 'IBM Plex';
    src: url('/assets/fonts/IBMPlexSansArabic-Thin.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'IBM Plex';
    src: url('/assets/fonts/IBMPlexSansArabic-ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'IBM Plex';
    src: url('/assets/fonts/IBMPlexSansArabic-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'IBM Plex';
    src: url('/assets/fonts/IBMPlexSansArabic-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'IBM Plex';
    src: url('/assets/fonts/IBMPlexSansArabic-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'HandiCraft';
    src: url('/assets/fonts/TheYearofHandicrafts-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'HandiCraft';
    src: url('/assets/fonts/TheYearofHandicrafts-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'HandiCraft';
    src: url('/assets/fonts/TheYearofHandicrafts-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'HandiCraft';
    src: url('/assets/fonts/TheYearofHandicrafts-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'HandiCraft';
    src: url('/assets/fonts/TheYearofHandicrafts-Black.woff2') format('woff2');
    font-weight: 900;
}

body{
    line-height: 0.5 !important;
}

/* Modern Scrollbar Styles */
::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vw;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


* {
    font-family: 'HandiCraft' !important;
    font-style:normal;
    user-select: none;
    font-weight: normal;
    /* font-size: 15px; */
}

.available-section{
    width: 7vw; 
    background-color: rgb(101, 129, 88);
    text-align: center;
    color: aliceblue;

}

.available-course{
    background: linear-gradient(315deg, #0d5394, #0e93ff);
    text-align: center;
    color: aliceblue;
    border-radius: 0.5rem;
    box-shadow: inset 0px 0px 40px 40px rgba(0,0,0,0.1) !important;
}

.selected{
    display: none;
}

.selected-section{
    border: 2.5px solid #E6B400;
}

.toggle-btn{
    width: 100%;
    height: 2rem;
    background-color: #1F294F;
    text-align: center;
}

.animation-slideUp {
    animation-name: slideUp;
    animation-duration: 0.5s;
    height: 0;
    overflow: hidden;
    animation-timing-function: ease-in-out;
}

.animation-slideDown {
    animation-name: slideDown;
    animation-duration: 0.5s;
    height: 13rem;
    overflow: hidden;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}



@keyframes slideUp {
0%   {height: 13rem;}
100% {height: 0;}
}

@keyframes slideDown {
    0%   {height: 0;}
    100% {height: 13rem;}
}

@keyframes slideLeft {
    0%   {
        margin-left: -20rem;
        display: none;
    }
    100% {
        margin-left: 0rem;
        display: block;
    }
}

@keyframes slideRight {
    0%   {
        margin-left: 0rem;
        
        display: block;
    }
    100% {
        margin-left: -20rem;
        display: none !important;
    }
}


.slideLeft{
    animation-name: slideLeft;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.slideRight{
    animation-name: slideRight;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.timetable-section{
    position: absolute;
    width: 80%;
    margin: 10%;
    z-index: 1;
    background-color: rgb(146, 103, 175);
    color: white;
    
}


.sideOpened{
    animation: cardsShrink;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    -webkit-animation: cardsShrink;
}

.SOpend{
    width: 9.5vw;
}
.SClosed{
    width: 11vw;
}

.sideClosed{
    animation: cardsExpand;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}


@keyframes cardsShrink {
    0%   {
        width: 11vw;
    }
    100% {
        width: 9.5vw;
    }
}

@keyframes cardsExpand {
    0%   {
        width: 9.5vw;
    }
    100% {
        width: 11vw;
    }
}

#copy-exam-table {
    position: relative;
}

.dark{
    background-color: #222831 !important;
}

.dark::placeholder {
    color: #f1f1f1 !important;
}

.dark\:second{
    background-color: #555 !important;
    color: #f1f1f1 !important;
    border-color: #222831 !important;
}

.dark\:second::placeholder {
    color: #f1f1f1 !important;
}

.dark\:border {
    border-color: #414141!important;
}

.dark\:modalLower {
    background-color: #1a2230 !important;
}
.dark\:modalUpper {
    background-color: #161c25 !important;
}

.slide-btn{
    appearance: none;
    width: 4vw;
    height: 2vw;
    background-color: rgb(233, 233, 233);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(233, 233, 233, 0.8);
}

.slide-btn::before {
    color: rgba(233, 233, 233, 0);
    content: "abc";
    width: 1vw;
    height: 1vw;
    position: relative;
    background-color: #222831;
    top: 0.45vw;
    right: 2.4vw;
    border-radius: 50%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.slide-btn:checked::before {
    background-color: rgb(233, 233, 233);
    right: 0.4vw;
}

.slide-btn:checked {
    background-color: #232830;
}

.slide-btn:active {
    background-color: #b9b9b9;
}

.slide-btn:focus {
    box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.4);
}


.sidebar-logo{
    box-shadow: 0px 0px 13px rgba(233, 233, 233, 0.5);
}

.drop-menu{
    border-left: 1vw solid transparent !important;
    border-right: 0.3vw solid transparent !important;
    border-radius: 0.3vw;
    -webkit-border-radius: 0.3vw;
    -moz-border-radius: 0.3vw;
    -ms-border-radius: 0.3vw;
    -o-border-radius: 0.3vw;
}

.drop-menu-border{
    border: 1px solid black !important;
    border-radius: 0.3vw;
}


h1 {
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #e5e7eb;
}
h1:before {
    margin-right: -53%;
    text-align: right;
}
h1:after {
    margin-right: 3%;
    text-align: right;
}
.color {
    background-color: #ccc;
}

.prefix{
    margin-top: 4px;
}

.input-number{
  display: flex;
  align-items: center;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding: 0.3vw;
  width: fit-content;

}
.input-number input{
  border: none;
  outline: none;
  /* width: 3vw; */
  /* margin-right: 10px; */
  margin-top: 4px;
}

.input-number input::-webkit-inner-spin-button,
.input-number input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.my-toggle-btn{
    position: relative;
    appearance: none;
    width: 3vw;
    height: 1.5vw;
    background-color: #ccc;
    border-radius: 100px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.my-toggle-btn::before{
    position: absolute;
    content: "";
    height: 1vw;
    width: 1vw;
    left: 0.25vw;
    top: 0.25vw;
    background-color: #f5f5f5;
    border-radius: 90vw;
    -webkit-border-radius: 90vw;
    -moz-border-radius: 90vw;
    -ms-border-radius: 90vw;
    -o-border-radius: 90vw;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.my-toggle-btn:checked::before {
    left: 1.75vw;
}

.my-toggle-btn:checked {
    background-color: #14941a;
}

.my-toggle-btn:active {
    background-color: #b9b9b9;
}

.my-toggle-btn:focus {
    box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.4);
}
/* #copy-exam-table::before {
    content: "!نسخ";
    padding: 0.6vw;
    position: absolute;
    top: -150%;
    transform: translateX(-25%);
    background-color: rgb(0 0 0 / 70%);
    color: white;
    border-radius: 0.3vw;
    -webkit-border-radius: 0.3vw;
    -moz-border-radius: 0.3vw;
    -ms-border-radius: 0.3vw;
    -o-border-radius: 0.3vw;
} */

@keyframes slide-fade {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.animate-slide-fade {
    animation: slide-fade 0.6s ease-out forwards;
}


.skipped{
    border-color: rgb(204, 22, 22) !important;
}

.hidden-section{
    border: 2.5px dashed #E6B400 !important;
    opacity: 0.6;
    filter: grayscale(100%);
}

.conflict-section{
    border: 2.5px dashed #ff0000 !important;
}

.same-activity-section{
    border: 4.5px dashed #fbff00 !important;
}

.hide-scrollbar {
  scrollbar-width: none; /* Hides the scrollbar, but keeps functionality */
}

.driver-popover-title, .driver-popover-description {
    direction: rtl;
}

.driver-popover-navigation-btns{
    flex-direction: row-reverse;
    flex-grow: 0 !important;
}

.driver-popover-title{
    margin-top: 10px !important;
}